*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.logo{
	background:#112A58;
	text-align: center;
	padding: 50 0 50 0;
	margin: 0 0 10 0;
}

body{
	background: #373737;
}

.content{
	text-align: center;
	margin: auto;
	padding: 20px;
	font-size: 0;
}

.grid_item{
	font-size: 1.25rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 100%;
}

h4{
color: white;
}

p{
color: white;
}
